@font-face {
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Montserrat Thin';
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
    font-family: 'MyriadPro Regular';
    src: url(../fonts/MyriadPro/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: 'NunitoSans Regular';
    src: url(../fonts/NunitoSans/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: 'WorkSans Regular';
    src: url(../fonts/WorkSans/WorkSans-Regular.ttf);
}
